
body{

	width: 100%;
	height: 100%;

}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  height:100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-open .content{

	pointer-events: none;

}

#menu{

	background: url('/background.png') no-repeat center center;

}

#menu img{
	margin:10px auto auto 20px;
	width: 150px;

}

.mobile-menu{

	list-style: none;
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.3);
}
.mobile-menu li{

	padding: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.mobile-menu li a{

	text-transform: uppercase;
	font-weight: 200;

}

.social-bar{
	position: absolute;
	bottom: 0;
	padding: 5px 10px 5px 20px;
	margin-bottom: 10px;
}
.social-bar a{
	padding: 0 10px;
	font-size: 20px;
}

.bar {

	text-align: center;
	background-color: rgba(247, 247, 247, 0.9);
  	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  	box-shadow: 0 0 1px rgba(0, 0, 0, .3);

}

img {

	max-width: 100%;

}

header img {
	
	width: 21%;
	margin: 10px auto;

}
/*
header.transparent{

	background-color: transparent;
	-webkit-box-shadow: none;
  	box-shadow: none;

}*/

.home .table-view-cell{

	padding: 0;
	height: 185px;

}


.content > .table-view:first-child{

	margin-top: 0px;

}

.page{

	background-color: rgba(255, 255, 255, 0.2);
	margin: 0;
	padding: 10px;

}

.page p{

	color: #333;
  	font-size: 19px;
  	line-height: 26px;
  	padding:10px 0;
  	text-align: justify;

}
.image-page{

	width: 100%; 
	height: 200px; 
	background: url('/startup-594090_1280.jpg') no-repeat center center; 
	background-size: cover;


}
.image-page h3{
  bottom: 0;
  position: absolute;
  font-weight: 200;
  color: white;
  padding-bottom: 5px;
}
.image-page .content-padded{

	margin: 0;
  	padding: 0 10px;
  	width: 100%;
  	height: 200px;
  	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1));

}
.blurred-content{

	position: fixed; 
	top:0;
	width: 100%; 
	height: 100%; 
	background: url('/startup-594090_1280.jpg') no-repeat center center; 
	background-size: cover; 
	-webkit-filter: blur(30px);


}
.name-category{

	  position: absolute;
	  top: 80px;
	  left:15%;
	  text-align: center;
	  width: 60%;
	  padding:10px;
	  background: rgba(255, 255, 255, 0.6);
	  text-transform: uppercase;
	  color: black;
	  font-weight: 100;



}
.table-view-cell.media{

	background-position: center;
	padding: 10px 35px 10px 10px;
}

.media .navigate-right{

	background: rgba(255, 255, 255, 0.85);
	

}
.media .navigate-right:after{
	right: 40px;
}
.img-list{

	width: 85px !important;
	height: 85px !important;
	display: inline-block;
	/*background: #999 no-repeat center center;*/
        background-size: cover;
        float:left;

}

.text-list{

	width:60%;
	/*display: inline-block;*/
	/*vertical-align: top;*/
        float: left;
        margin-left: 10%;

}

.text-list h6{
	padding: 5px 0;
	margin: 0px;
	color: black;
	text-transform: none;
	font-size: 14px;

}
.text-list p{

	font-size: 12px;

}
.table-view-cell > a:not(.btn):active{

	background-color: rgba(255, 255, 255, 0.9);

}
div#newsview, div#eventview, div#itinerarioview{
    height: 100% !important;
}
