<ul class="table-view">
    {{#each .}}
    <li class="table-view-cell media" id="eventListItem" data-id="{{id}}" style="background-image:url('http://www.expo.abruzzo.it/{{photo}}&width=500')">
    <a class="navigate-right" data-transition="slide-in">
      <div class="text-list">
        <h6>{{title}}</h6>
        <div class="details">
        <p>Location</p>
        <!--<p><i class="fa fa-calendar-o"></i> {{ data }}</p>-->
        </div>
        <div class="date-events"><span class="number">19</span><br><span class="day">Aprile</span></div>
      </div>
    </a>
  </li>
    
    {{/each}}
</ul> 


<div id="loadMore" class="box swype">
   
      
            <div id="loader-circle"></div>

   
</div>

