 
<ul class="table-view">
	<li class="table-view-cell media" id="event">
		<a class="navigate-right">
			<span class="media-object pull-left icon icon-pages"></span>
			<div class="media-body">
				Lista Eventi
			</div>
		</a>
	</li>
</ul>

<div id="refresh" style="border: 1px solid; background-color: forestgreen; height: 50; width: 100;">Premi qua </div><br>

<ul>
{{#each .}}   
<li><span>{{date}}</span> {{title}} </li>  
        
 {{/each}}
</ul>


<script>
    console.log("donuts");
    </script>