<!--<button onclick="$(window)[0].plugins.socialsharing.share('Message only')">message only</button><br/>
<button onclick="window.plugins.socialsharing.share('Message and subject', 'The subject')">message and subject</button><br/>
<button onclick="window.plugins.socialsharing.share(null, null, null, 'http://www.x-services.nl')">link only</button><br/>-->

<!--<button onclick="window.plugins.socialsharing.share(null, null, 'https://www.google.nl/images/srpr/logo4w.png', null)">image only</button><br/>-->
<div  class="image-page" style="background-image: url('http://www.expo.abruzzo.it/{{photo}}&width=470&height=400')">
    <div class="content-padded">
        <h3>{{ title }}</h3>
    </div>
</div>

<div class="content-padded page">
    <a class="detail-page" id="map-button"><i class="fa fa-map-marker"></i>Dove: {{location}} </a>
    <button class="icon icon-share pull-right" onclick="window.plugins.socialsharing.share('{{ location }}', '{{ title }}', null, 'http://expo.abruzzo.it/event.php?id={{id}}')"></button><br/>
    {{{description}}}
</div>