
{{#each .}}
<ul class="table-view">
  <li class="table-view-cell media" id="eventListItem" data-id="{{id}}">
    
      <div  class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{photo}}&width=85&height=85')">
          <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
      </div>
        <div class="text-list">
            
          <h6>{{data}} </h6>
            <h3>{{title}}</h3>
        </div>
      
    
  </li>
</ul> 
{{/each}}

<div id="loadMore" class="box swype">
   
      <img style="width: 30%; margin-left: 35%;" src="img/refresh.png">
   
</div>