
    <div  class="image-page" style="background-image: url('http://www.expo.abruzzo.it/{{pic}}&height=500')">
        <div class="content-padded">
        	<div class="box-title">
        		<span>Itinerario</span>
        		<h3>{{ title }}</h3>
        		<button class="icon icon-share share-button" onclick="window.plugins.socialsharing.share('Da {{partenza}} a {{arrivo}} {{travelling}}', 'Itinerario Abruzzese ' , null, 'http://expo.abruzzo.it/itinerari.php?id={{id}}')"></button>
        	</div>
        </div>
      </div>
      
        <div class="content-padded page">
        	<a class="detail-page" id="map-button"><i class="fa fa-flag"></i> {{partenza}}</a>
        	<a class="detail-page" ><i class="fa fa-flag-checkered"></i> {{arrivo}}</a>
            
            {{{body}}}

        </div>