
<div  class="image-page" style="background-image: url('http://www.expo.abruzzo.it/{{pic}}&height=500')">
    <div class="content-padded">
        <div class="box-title">
            <span>Itinerario</span>
            <h3>{{ title }}</h3>
            <button class="icon icon-share share-button" onclick="window.plugins.socialsharing.share('Da {{partenza}} a {{arrivo}} {{travelling}}', 'Itinerario Abruzzese ' , null, 'http://expo.abruzzo.it/itinerari.php?id={{id}}')"></button>
        </div>
    </div>
</div>

<div class="content-padded page">
    <a class="detail-page" id="map-button"><i class="fa fa-flag"></i> {{partenza}}</a>
    <a class="detail-page" ><i class="fa fa-flag-checkered"></i> {{arrivo}}</a>
    <div>
        <div id="pulsantiera">
            <div class="pulsante"><a href="#myModaldescrizione" >
                    <br/>
                    <i class="fa fa-info fa-2x"></i>
                    <br/>
                    Descrizione</a>
            </div>
            <div class="pulsante">
                <a href="#myModalpoi">
                    <br/>
                    <i class="fa fa-map-marker fa-2x"></i>
                    <br/>
                    POI
                </a>
            </div>
            <div class="pulsante">
                <a href="#myModalalbum"><br/>
                    <i class="fa fa-picture-o fa-2x"></i>
                    <br/>
                    Album</a>

            </div>
            <div class="pulsante">
                <a  href="#myModalinfo"><br/>
                    <i class="fa fa-pie-chart fa-2x"></i>
                    <br/>
                    Info</a>
            </div>
            <div class="pulsante2x">
                <br/>
                <i class="fa fa-play fa-2x"></i>
                <br/>
                Start Percorso
            </div>




        </div>
    </div>

    



<div id="myModaldescrizione" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#myModaldescrizione"></a>
        <h1 class="title">Descrizione</h1>
    </header>

    <div class="content">
        <p class="content-padded">{{{body}}}</p>
    </div>
</div>

<div id="myModalpoi" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#myModalpoi"></a>
        <h1 class="title">POI</h1>
    </header>

    <div class="content">
        <ul class="table-view">
            <li class="table-view-cell media">
                <a class="navigate-right poi" data-id="1">
                    <img class="media-object pull-left" src="img/lago.jpg" style="width: 150px;height: 150px;">
                    <div class="media-body">
                        Terranera
                        <p>Il Laghetto di Terranera</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right poi" data-id="2">
                    <img class="media-object pull-left" src="img/castel-camponeschi.jpg" style="width: 150px;height: 150px;">
                    <div class="media-body">
                        Prata D'Asiodonia
                        <p>La Regione dei Castelli, Castel Camponeschi</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right poi" data-id="3">
                    <img class="media-object pull-left" src="img/stiffe.jpg" style="width: 150px;height: 150px;">
                    <div class="media-body">
                        Stiffe
                        <p>Grotte di Stiffe</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="myModalinfo" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#myModalinfo"></a>
        <h1 class="title">Informazioni</h1>
    </header>

    <div class="content">
        <p class="content-padded">&nbsp; <i class="fa fa-coffee"></i>&nbsp; Servizi Disponibili </p>
        <p class="content-padded">&nbsp; <i class="fa fa-envelope-o"></i>&nbsp; Contatti: qualcosa@mail.it  </p>
        <p class="content-padded">&nbsp; <i class="fa fa-phone"></i>&nbsp; Telefono: 085951111 </p>
        <p class="content-padded">&nbsp; <i class="fa fa-car"></i>&nbsp; Piazzola di Sosta: Si</p>
        <p class="content-padded">&nbsp; <i class="fa fa-bed"></i>&nbsp; Hotel: Terranera, Tussillo, Rocca di Mezzo e Rocca di Cambio</p>
        <p class="content-padded">&nbsp; <i class="fa fa-home"></i>&nbsp; Località Interessate: <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rocca di Mezzo, Rocca di Cambio, Terranera, Prata D’Ansidonia, Tussillo, Stiffe, Collepietro</p>

    </div>
</div>

<div id="myModalalbum" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#myModalalbum"></a>
        <h1 class="title">Album</h1>
    </header>

    <div class="content">
        <div class="slider" id="mySlider">
            <div class="slide-group">
                <div class="slide">
                    <img src="http://www.expo.abruzzo.it/show.php?token=1851a2a337dcaa706784ef1a80ce05ab&id=76">
                    <p>Sentiero Rocca di Mezzo </p>
                </div>
                <div class="slide">
                    <img src="http://www.expo.abruzzo.it/show.php?token=1851a2a337dcaa706784ef1a80ce05ab&id=77">
                    <p>Sentiero Prata D'Ansidonia </p>
                </div>
                <div class="slide">
                    <img src="http://www.expo.abruzzo.it/show.php?token=1851a2a337dcaa706784ef1a80ce05ab&id=11">
                    <p>Sentiero Collepietro spiaggia</p>
                </div>
            </div>
        </div>
    </div>
</div>


</div>