<input type="text" id="ricercaGeneraleInput" name="ricercaGeneraleInput" style="width: 92%;"/>  <span id="ricercaGenerale" class="icon icon-search"></span>

<div class="segmented-control">
    <a class="control-item active" href="#item1mobile">
        News
    </a>
    <a class="control-item" href="#item2mobile">
        Event
    </a>
    <a class="control-item" href="#item3mobile">
        Itinerari
    </a>
</div>
<div class="card">
    {{#each .}}
    {{#ifCond id '===' 1}}
    <div id="item1mobile" class="control-content active">
        
        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}

                <li class="table-view-cell media" id="eventListItem" data-view="newsviewFromSearch" data-id="{{id}}">
                    <div  class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}')">
                        <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
                    </div>
                    <div class="text-list">
                        <h2>{{title}}</h2>
                    </div>
                </li>
                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}


    {{#ifCond id '===' 2}}
    <div id="item2mobile" class="control-content">
        
        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}

                <li class="table-view-cell media" id="eventListItem" data-view="eventviewFromSearch" data-id="{{id}}">
                    <div  class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}')">
                        <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
                    </div>
                    <div class="text-list">
                        <h2>{{title}}</h2>
                    </div>
                </li>
                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}

    {{#ifCond id '===' 3}}
    <div id="item3mobile" class="control-content">
        
        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}

                <li class="table-view-cell media" id="eventListItem" data-view="itinerarioviewFromSearch" data-id="{{id}}">
                    <div  class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}')">
                        <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
                    </div>
                    <div class="text-list">
                        <h2>{{title}}</h2>
                    </div>
                </li>
                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}
    {{/each}}
</div>
