<input type="text" id="ricercaGenerale" name="ricercaGenerale" style="width: 92%;"/>  <span class="icon icon-search"></span>


{{#each .}}
  
io
{{content}}


<ul class="table-view">

    <li class="table-view-cell media" id="eventListItem" data-id="">

        <div  class="img-list" style="background-image:url('http://www.expo.abruzzo.it/')">
            <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
        </div>
        <div class="text-list">


            <h3></h3>
        </div>


    </li>

</ul> 


{{/each}}