<div class="input-box">
    <input type="text" id="ricercaGeneraleInput" name="ricercaGeneraleInput" style="width: 100%;"/>
    <h1 id="ricercaGenerale" class="section-title">Search</h1>
</div>
<div class="input-box">
    <div class="segmented-control">
        <a class="control-item active"href="#item1mobile" >
            NEWS
        </a>
        <a class="control-item" href="#item2mobile">
            EVENTS
        </a>
        <a class="control-item" href="#item3mobile">
            PATHS
        </a>
    </div>
</div>
<div class="card">
    {{#each .}}
    {{#ifCond id '===' 1}}
    <div id="item1mobile" class="control-content active">

        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}
                <li class="table-view-cell media news-list" id="eventListItem" data-view="newsviewFromSearch" data-id="{{id}}" style="background-image: url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&width=200')">
                    <a class="navigate-right" data-transition="slide-in">
                        <div class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&height=100')"></div>
                        <div class="text-list">

                            <h6><div class="overflow-text"></div>{{title}}</h6>

                        </div>
                    </a>
                </li>

                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}


    {{#ifCond id '===' 2}}
    <div id="item2mobile" class="control-content">

        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}
                <li class="table-view-cell media news-list" id="eventListItem" data-view="eventviewFromSearch" data-id="{{id}}" style="background-image: url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&width=200')">
                    <a class="navigate-right" data-transition="slide-in">
                        <div class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&height=100')"></div>
                        <div class="text-list">

                            <h6><div class="overflow-text"></div>{{title}}</h6>

                        </div>
                    </a>
                </li>

                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}

    {{#ifCond id '===' 3}}
    <div id="item3mobile" class="control-content">

        <div id="listaRisultati">
            <ul class="table-view" data-vista="{{vista}}">
                {{#each content}}
                <li class="table-view-cell media news-list" id="eventListItem" data-view="itinerarioviewFromSearch" data-id="{{id}}" style="background-image: url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&width=200')">
                    <a class="navigate-right" data-transition="slide-in">
                        <div class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}{{pic}}{{photo}}&height=100')"></div>
                        <div class="text-list">

                            <h6><div class="overflow-text"></div>{{title}}</h6>

                        </div>
                    </a>
                </li>

                {{/each}}
            </ul> 
        </div>
    </div>
    {{/ifCond}}
    {{/each}}
</div>
