<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title" id="intestazione">Video</h1>
        <a data-transition="slide-in">
            <img src="img/8750395302_37ce8c2a6e_k.jpg">
        </a>
    </li>
</ul>
<ul class="table-view">
    {{#each .}}
    <li class="table-view-cell media" id="eventListItem" data-id="{{id}}" style="background-image:url('')">
    <a class="navigate-right" data-transition="slide-in">
      <div class="text-list">
        <h6>{{title}}</h6>
        <div class="details">
        <p>{{trimNcharString description 10}}</p>
        <!--<p><i class="fa fa-calendar-o"></i> {{ data }}</p>-->
        </div>
        <div class="date-events"><span class="number">{{getDay creation}}</span><br><span class="day">{{getMonth creation}}</span></div>
      </div>
    </a>
  </li>
    
    {{/each}}
</ul> 


<div id="loadMore" class="box swype">
   
      
            <div id="loader-circle"></div>

   
</div>





