<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title" id="intestazione">Video</h1>
        <a data-transition="slide-in">
            <img src="img/lily.jpg">
        </a>
    </li>
</ul>
<div class="masonry">
  {{#each .}}
   <div class="item" id="itinerariListItem" data-id="{{id}}">
    <a data-transition="slide-in">
      <div class="image-page video-list" style="background-image: url('{{getImgVideo html_code}}')">
        <div class="content-padded">
          <i class="fa fa-play-circle-o"></i>
          <div class="box-title">
            <h3>{{title}}</h3>
          </div>
        </div>
      </div>
    </div>
   {{/each}}
  
</div>








<div id="loadMore" class="box swype">
   
      
            <div id="loader-circle"></div>

   
</div>








