

{{#each .}}
<ul class="table-view">
    <li class="table-view-cell media" style="background-image: url('/video-multiple.jpg')"  id="eventListItem" data-id="{{id}}" >

        <div class="img-list"  style="background-image:url('http://www.expo.abruzzo.it/{{picture}}')">
            <img src="img/spyglass-white.png" style="opacity: 0.3;"/>
        </div>
        <div class="text-list">
            <h6>{{ date }}</h6>
            <h3>{{title}}</h3>
        </div>


    </li>
</ul> 
{{/each}}

<div id="loadMore" class="box swype">
   
      <img style="width: 30%; margin-left: 35%;" src="img/refresh.png">
   
</div>

