 
<!--<ul class="table-view">
	<li class="table-view-cell media" id="event">
		<a class="navigate-right">
			<span class="media-object pull-left icon icon-pages"></span>
			<div class="media-body">
				Lista News
			</div>
		</a>
	</li>
</ul>-->

{{#each .}}
<ul class="table-view">
  <li class="table-view-cell media" id="eventListItem" data-id="{{id}}" style="background-image: url('/video-multiple.jpg')">
    
      <div class="img-list" style="background-image:url('http://www.expo.abruzzo.it/{{picture}}')"></div>
        <div class="text-list">
          <h6>{{date}}</h6>
            <p>{{title}}</p>
        </div>
      
    
  </li>
</ul> 
{{/each}}

<button id="loadMore" class="btn" style="margin-left: 40%;"> Load More </button>

