<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title">Abruzzo per EXPO 2015</h1>
        <a data-transition="slide-in">
            <img src="img/pasta-663096_1920.jpg">
        </a>
    </li>
</ul>
<div class="content-padded page">

    <p style="text-align:justify">
        A major exhibition inside the Italian Pavillon, a prestigious <strong>Shop window</strong> in the heart of Brera, opened to everyone. 
        Many thematic events starting from May up to October. Less than 60 days before the Milan Universal Exposition, Abruzzo is ready to win the most important challenge in the world: 
        making every Abruzzo citizen protagonist of an extraordinary and unique date.<br>
        <img src="img/logoexpoabruzzo.png" style="padding: 40px;">
        <br>
        <strong>Feeding the Planet, Energy for Life</strong> is the theme chosen for the <strong>EXPO 2015</strong>: a unique occasion for valuing Abruzzo that boasts the title of <strong>'Greenest Region in Europe'</strong>,
        thanks to its parks and protected nature reserves. According to the EXPO themes, sustainability is the key word that best represents our gorgeous land.
        Abruzzo wants to be the leader in Expo Milan 2015, with an ambitious project loaded of ideas, strategies and studied actions.
        The purpose is to presents to 20 million visitors its cultural, economic, scientific and gastronomic identity and its natural and environmental biodiversity.<br>
        <br>
        <strong>Anteprima AbruzzoEXPO</strong>will take place on Thursday 23rd of April, hosting a night-event for the press and then opened opening to everyone.
        CASA ABRUZZO will be the fulcrum in which every initiative will orbite around. Starting from May 1st up to October 31st, Spazio Fiori Chiari in Brera will become the center of Abruzzo in Milan.
        Covering an area of over 170 square meters with 11 shop-windows arranged in two levels, Spazio Fiorichiari will be the place where companies, istitutions and associations will be able to organise presentations,
        meetings B2B, cultural events and offer tastings of typical dishes and drinks.<br>
        <br>
        <strong> CASA ABRUZZO</strong> will promote tourism and culture for anyone who wants to learn about the region. 
        This is a unique opportunity to show the public of Expo Milano 2015 the variety and cultural greatness of this land and its business and cultural tourism.
        A lot of events and meetings will take place, organised by the regional Pro Loco and DMC, in order to raise awareness and promote our territory.
        The 'Palazzo delle Stelline' will host, on Thursday 19th of June, a gala dinner where some of the most important and international chefs will participate.
        Moreover in Chiostro Bramante, from September 3rd to 5th a date dedicated to trade, design, fashion and wine will be hosted. The Chiostro Antico dell'Umanitaria is the location where,
        from June 30th until July 5th will be presented the Abruzzo brand Chefs' Birthplace, with workshop and showcooking organised by Abruzzo's Catering Schools. On July 8th during the Settimana del Protagonismo,
        the Feast of Return will be celebrated, dedicated to Abruzzo's citizens around the world.<br>
        <br>
        Inside the EXPO, Abruzzo will stage a space attended by the dep. of Architecture of the University of Chieti-Pescara, with the collaboration of architects Susanna Ferrini and Paolo Fusero.
        They will present a deep environmental dilemma: the relationship between humans and wildlife and between humans and food. A physical and tangible representation of the Abruzzo's morfology and biodiversity that,
        with the universal language of numbers, will communicate with the populations from all over the world.</p>

</div>