<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title">Credits</h1>
        <a data-transition="slide-in">
            <img src="img/drop-of-water-7720_1280.jpg">
        </a>
    </li>
</ul>
<div class="content-padded page">

    <p style="text-align:justify">L' App <strong>Abruzzo Expo 2015</strong> della Regione Abruzzo è stato progettato e realizzato dal <strong>Dipartimento di Ingegneria e Scienze dell’Informazione e Matematica</strong> dell’<strong>Università degli Studi dell’Aquila</strong>.</p>
    <br>
    <h1 style="font-weight: 200; -webkit-font-smoothing: antialiased;letter-spacing: 2px; color: #cc2575;">Team</h1>
<p style="text-align:left">
<strong>Coordinamento:</strong> 
<br>
Prof. Alfonso Pierantonio
<br>
<strong>Vice Coordinamento:</strong><br>
Dott. Ludovico Iovino
<br>
<strong>Progettazione e Realizzazione:</strong>
<br>
Giona Granchelli
Mario Cardarelli
<br>
<strong>Progettazione e Realizzazione Grafica:</strong>
<br>
Giuseppe Bianchi
</p>
        
        

</div>