<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title">Credits</h1>
        <a data-transition="slide-in">
            <img src="img/drop-of-water-7720_1280.jpg">
        </a>
    </li>
</ul>
<div class="content-padded page">

    <p style="text-align:justify">L' App <b>Abruzzo Expo 2015</b> della Regione Abruzzo è stato progettato e realizzato dal <b>Dipartimento di Ingegneria e Scienze dell’Informazione e Matematica</b> dell’<b>Università degli Studi dell’Aquila</b>.</p>
    <br/>
    <h1 style="font-weight: 200; -webkit-font-smoothing: antialiased;letter-spacing: 2px; color: #cc2575;">Team</h1>
    <p style="text-align:left">
        <b>Coordinamento:</b> 
        <br/>
        Prof. Alfonso Pierantonio
        <br/>
        <b>Vice Coordinamento:</b><br/>
        Dott. Ludovico Iovino
        <br/>
        <b>Progettazione e Realizzazione App:</b>
        <br/>
        Giona Granchelli<br/>
        Mario Cardarelli
        <br/>
        <b>Realizzazione Grafica:</b>
        <br/>
        Giuseppe Bianchi
    </p>



</div>