<ul class="table-view home title-list">
    <li class="table-view-cell">
        <h1 class="section-title">Credits</h1>
        <a data-transition="slide-in">
            <img src="img/drop-of-water-7720_1280.jpg">
        </a>
    </li>
</ul>
<div class="content-padded page">

    <p style="text-align:justify"><b>Abruzzo Expo 2015</b> 
        has been designed and delevoped by  
        <b>The Department of Information Engineering, 
            Computer Science and Mathematics at Università degli Studi dell'Aquila </b> 
     for Abruzzo Region.</p>
    <br/>
    <h1 style="font-weight: 200; -webkit-font-smoothing: antialiased;letter-spacing: 2px; color: #cc2575;">Team</h1>
    <p style="text-align:left">
        <b>Coordinator:</b> 
        <br/>
        Prof. Alfonso Pierantonio
        <br/>
        <b>Assistant Coordinator:</b><br/>
        Dott. Ludovico Iovino
        <br/>
        <b>Design and Development:</b>
        <br/>
        Giona Granchelli<br/>
        Mario Cardarelli
        <br/>
        <b>Graphic Designer:</b>
        <br/>
        Giuseppe Bianchi
    </p>



</div>