<main id="panel">
    <ul class="table-view home">
      <li class="table-view-cell"  id="homeNews" >
            <a data-transition="slide-in">
                <img src="img/startup-594090_1280500x333.jpg">
            </a>
      </li>
      <li class="table-view-cell"  id="homeEvents" >     
        <a data-transition="slide-in">
            <img src="img/video-multiple500x333.jpg">
        </a>
      </li>
      <li class="table-view-cell"  id="homeItinerari">  
          <a data-transition="slide-in">
              <img src="img/annunziata500x333.jpg">
          </a>
      </li>
</ul>


</main>