 <ul class="table-view home">
      <li class="table-view-cell">
            <a href="view/pagesingle.html" data-transition="slide-in">
                <img src="img/startup-594090_1280500x333.jpg">
            </a>
      </li>
      <li class="table-view-cell">     
        <a href="view/pagesingle.html" data-transition="slide-in">
            <img src="img/video-multiple500x333.jpg">
        </a>
      </li>
      <li class="table-view-cell">     
            <img src="img/annunziata500x333.jpg">
      </li>
    </ul>

