<main id="panel">
    <ul class="table-view home">
      <li class="table-view-cell"  id="homeNews" >
          <div style="width: 60px;
                        position: relative;
                        top: 165px;
                        z-index: 10;
                        background-color: white;
                        text-align: justify;">News</div>
            <a data-transition="slide-in">
                <img src="img/startup-594090_1280500x333.jpg">
            </a>
      </li>
      <li class="table-view-cell"  id="homeEvents" > 
          <div style="width: 60px;
                        position: relative;
                        top: 165px;
                        z-index: 10;
                        background-color: white;
                        text-align: justify;">Eventi</div>
        <a data-transition="slide-in">
            <img src="img/video-multiple500x333.jpg">
        </a>
      </li>
      <li class="table-view-cell"  id="homeItinerari">
          <div style="width: 60px;
                        position: relative;
                        top: 164px;
                        z-index: 10;
                        background-color: white;
                        text-align: justify;">Itinerari</div>
          <a data-transition="slide-in">
              <img src="img/annunziata500x333.jpg">
          </a>
      </li>
</ul>


</main>