
<nav id="menu">
    <img src="img/logoexpoabruzzo.png">
    <ul class="mobile-menu">
        <li class="active"><span id="nav1"> <a >Home</a></span></li>
        <li> <span id="nav3"><a >Rassegna Stampa</a></span></li>
        <li> <span id="nav4"><a >Eventi</a></span></li>
        <li> <span id="nav5"><a >Itinerari</a></span></li>
        <li> <span id="nav6"><a >Cerca</a></span></li>
        <li> <span id="nav7"><a >Credits</a></span></li>
        <li> <span id="nav8"><a >Impostazioni</a></span></li>
    </ul>
    <img src="img/uk_flag_small.gif" style="width: 50px;"/>
    <img src="img/italy_flag_small.png" style="width: 50px;" />
    <div class="social-bar">
        <a >
            <i class="fa fa-facebook"></i>
        </a>
        <a >
            <i class="fa fa-twitter"></i>
        </a>
        <a >
            <i class="fa fa-instagram"></i>
        </a>
        <a >
            <i class="fa fa-google-plus"></i>
        </a>

    </div>
</nav>
<main id="panel">

    <header class="bar bar-nav" id="menu-superiore">
        <!-- <div style="-webkit-filter: blur(10px); position: absolute; width: 100%; height: 44px; left:0"></div> -->
        <!--<a class="icon icon-bars pull-left toggle-button" href="#menu"></a>-->
        <a id="toggle-button" class="icon icon-bars pull-left"></a>
        <a class="icon icon-left-nav pull-left" data-transition="slide-out" id="back-button"></a>
        <img id="logo_principale" src="img/expo2015_logo2.png">
        <a class="icon icon-search pull-right" id="settingsModal" ></a>
    </header>

    <div id="content" class="content"></div>
</main>
