
    <nav id="menu">
      <img src="img/logoexpoabruzzo.png">
      <ul class="mobile-menu">
          <li class="active"> <a href="index.php" id="nav1">Home<span></span></a></li>
          <li> <a href="">Abruzzo per Expo<span></span></a></li>
          <li> <a href="news.php">Rassegna Stampa<span></span></a></li>
          <li> <a href="event.php">Eventi<span></span></a></li>
          <li> <a href="event.php">Itinerari<span></span></a></li>
      </ul>
      <div class="social-bar">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
      
      </div>
    </nav>

<nav class="bar bar-tab" style="display: none">
  <a class="tab-item active" id="nav1">
    Home
  </a>
<!--  <a class="tab-item" id="nav2">
    Mappa
  </a>-->
  <a class="tab-item" id="nav3">
    News
  </a>
   <a class="tab-item" id="nav4">
    Eventi
  </a>
  <a class="tab-item" id="nav5">
    Itinerari
</a>
<a class="tab-item" id="nav6">
    Cerca
</a>
<!--     <a class="tab-item" id="nav6">
    ItinerariPag
  </a>-->

</nav>


<main id="panel">

  <header class="bar bar-nav" id="menu-superiore">
      <!-- <div style="-webkit-filter: blur(10px); position: absolute; width: 100%; height: 44px; left:0"></div> -->
      <!--<a class="icon icon-bars pull-left toggle-button" href="#menu"></a>-->
      <a id="toggle-button" class="icon icon-bars pull-left"></a>
      <a class="icon icon-left-nav pull-left" href="../index.html" data-transition="slide-out" id="back-button"></a>
      <img id="logo_principale" src="img/expo2015_logo2.png">
      <a class="icon icon-share pull-right" href="#settingsModal"></a>
  </header>

  <div id="content" class="content"></div>
</main>
