<header class="bar bar-nav">
      <!-- <div style="-webkit-filter: blur(10px); position: absolute; width: 100%; height: 44px; left:0"></div> -->
      <a class="icon icon-bars pull-left toggle-button" href="#menu"></a>
      <img id="logo_principale" src="img/expo2015_logo2.png">
      <a class="icon icon-search pull-right" href="#settingsModal"></a>
</header>

    <nav id="menu">
      <img src="/logoexpoabruzzo.png">
      <ul class="mobile-menu">
          <li> <a href="index.php">Home<span></span></a></li>
          <li> <a class="" href="page.php?page_id=8">Abruzzo per Expo<span></span></a></li>
          <li> <a href="news.php">Rassegna Stampa<span></span></a></li>
          <li> <a href="event.php">Eventi<span></span></a></li>
      </ul>
      <div class="social-bar">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
      
      </div>
    </nav>
<nav class="bar bar-tab">
  <a class="tab-item active" id="nav1">
    Home
  </a>
  <a class="tab-item" id="nav2">
    Mappa
  </a>
  <a class="tab-item" id="nav3">
    News
  </a>
   <a class="tab-item" id="nav4">
    Event
  </a>
  <a class="tab-item" id="nav5">
    Itinerari
  </a>
     <a class="tab-item" id="nav6">
    ItinerariPag
  </a>

</nav>

<!-- <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->
<div id="content" class="content">
</div>
<script src="js/slideout.min.js"></script>
    <script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

      // Toggle button
      document.querySelector('#toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
    </script>